{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>NT's Blog</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for p in posts %}
            <div class="post-preview">
                <a href="{{ url_for('delete_post', pid=p.id) }}" class="delete-btn d-flex justify-content-end">✘</a>
                <a href="{{ url_for('get_post', pid=p.id) }}">
                    <h2 class="post-title">
                        {{ p.title }}
                    </h2>
                    <h3 class="post-subtitle">{{ p.subtitle }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#">{{ p.author}}</a>
                    on {{ p.date }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4"/>
            {% endfor %}
            <!-- Pager-->
            <!-- New Post -->
            {% if cur_user.is_authenticated: %}
                <div class="d-flex justify-content-end mb-4">
                    <a class="btn btn-primary float-right" href="{{ url_for('add_post') }}">Create New Post</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Footer-->
{% include "footer.html" %}

