{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
  {{ ckeditor.load(pkg_type="full-all") }}
{% endblock %}

{% block styles %}
  {{ super() }}
{% endblock %}

{% block content %}
  {% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead light-main-bg" id="make-page" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container ">
      <div class="row ">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if edit_mode: %}
            <h1>Edit Post</h1>
            {% else %}
            <h1>New Post</h1>
            {% endif %}
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

          {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

      </div>
    </div>
  </div>

  {% include "footer.html" %}
{% endblock %}