{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
  {{ ckeditor.load() }}
{% endblock %}

{% include "header.html" %}
<!-- Page Header-->
<header class="masthead" style="background-image: url({{ post.img_url }})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{ post.title }}</h1>
                    <h2 class="subheading">{{ post.subtitle }}</h2>
                    <span class="meta">
                        Posted by
                        <a target="_blank" href="{{ url_for('get_about') }}">{{ post.author.name }}</a>
                        on {{ post.date }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{ post.body | safe }}</p>
                <!-- Edit Post Button -->
                <div class="d-flex">

                    <div id="comment-form d-flex" class="justify-content mb-4">
                        <form method="post" action="{{ url_for('get_post', pid=post.post_id) }}">
                            {{ wtf.form_field(form.comment, novalidate=True) }}
                            {{ wtf.form_field(form.submit, class_="btn btn-primary float-start") }}
                            {% if cur_user.admin or cur_user.id == post.author.id %}
                              <a class="btn btn-primary float-end" href="{{url_for('edit_post', post_id=post.post_id)}}">Edit Post</a>
                            {% endif %}
                        </form>
                        <!-- Rendering Comments -->
                        <div class="comment-sec">
                            {% set default_imgs = ["monsterid", "identicon", "mp" ,"wavatar" ,"retro", "robohash"] %}
                            {% for cmt in post.blog_comments %}
                            <div class="comment" style="background-color: red">
                                <img class="rounded-circle profile-pic" src="https://www.gravatar.com/avatar/{{ post.author.password }}?r=r&d={{ img_picker(default_imgs) }}" alt="Profile pic">
                                <div class="comment-text-wrap">
                                    <h6 class="comment-text">{{ cmt.text | safe }}</h6>
                                    <span class="text-muted comment-author ">{{ cmt.comment_author.name }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
{% include "footer.html" %}
